body{
	background-image: url('win2.jpg');
	background-attachment: unset;
	background-size: contain;
	border-image-repeat: no-repeat;
}
.tm-container{
	max-width: 1500px;
	margin: 0 auto; 
}
.tm-header{
	background: linear-gradient(to right, orange, violet);
}
.tm-header::after{
	content: " ";
	clear: both;
	display: block;
}
.tm-nav ul li{
	display: inline-block;
}
.tm-nav ul li a{
	font-size: 200%;
	line-height: 100px;
	padding: 10px 20px;
	text-decoration: none;
	color: rgb(30,30,30);
	float: right;
	font-family: helvetica;
}
.tm-logo{
	float: left;
}
.tm-nav ul li a:hover{
	color: blue;
	font-family: Courier New;
}
.style{
	width: 380px;
	height: 100px;
	margin-left: 550px;
	margin-top: 200px;
	font-family: algerian;
	color: rgb(22, 100, 226);
	font-size: 300%;
	padding-left: 10px;
	padding-bottom: 60px;
} 